APP_NAME="Quiz Platform API"
APP_VERSION="1.0.0"
DEBUG=True

DB_HOST=localhost
DB_PORT=3306
DB_NAME=quiz_platform
DB_USER=root
DB_PASSWORD=your_mysql_password

# JWT_SECRET_KEY: chuỗi bất kỳ, KHÔNG để quá dài (tối đa 50 ký tự)
JWT_SECRET_KEY=mysecretkey2024
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
